[2017-10-24 07:17] bruce opened #1 "README & module documentation"

[2017-10-26 14:23] tlvenn opened #2 "[Ecto] If the assoc is already loaded, we should return it directly"
As discuss with @benwilson512 , the `assoc` macro from absinthe_ecto is checking if the value for the field was already present in the parent in the case that it was preloaded and would simply return it if that is the case.

The Ecto dataloader should mimic this behaviour which is super useful when a field may or may not be preloaded already.

[2017-11-01 20:47] tlvenn opened #5 "[Ecto] Support for associations which uses through"
Right now a RuntimeError saying the association cannot be found in the schema is raised.

[2017-11-01 21:09] tlvenn commented on #5
@benwilson512 do you think there is a way to resolve this without leveraging a through ? With absinthe_ecto I was able to provide a custom callback that would return the desired object.

I am not sure there is a workaround for that in the Dataloader at the moment.

[2017-11-01 21:09] tlvenn commented on #2
This has been adressed by @benwilson512 and can be closed.

[2017-11-01 21:10] benwilson512 commented on #2
Handled by the absinthe dataloader helper.

[2017-11-01 21:10] #2 closed

[2017-11-02 01:38] tlvenn commented on #5
As discussed with @benwilson512 , let me illustrate the problem I have with a concrete example:

So we have on ecto side, an `activity` schema which has 1 `cover` which is an `asset_link` which has 1 `asset`:

On graphql side, the activity object `cover`'s field points directly to the asset and is not returning the intermediate asset_link which is invisible:

So I am trying to dataload the assets

[2017-11-02 01:55] tlvenn commented on #5
Actually regarding the first approach, it is natural that the dataloader is trying to alter the queryable, that is its way to batch load ;)

So I guess the default predicate is to do it on the primary key of the schema being loaded as seen here: https://github.com/absinthe-graphql/dataloader/blob/master/lib/dataloader/ecto.ex#L248

maybe we could provide a fun to customize this which would take th

[2017-11-06 13:36] tlvenn commented on #5
@benwilson512 any idea how to best solve this ? What do you think about my proposal of being able to provide the fun that does the dataloader selection ?

[2017-11-06 14:13] benwilson512 commented on #5
I think providing a function is useful, but I'd like to be able to handle through associations without any extra work like that. Why do through associations not match the queryable line?

[2017-11-06 14:23] tlvenn commented on #5
Ya I agree, we should support through associations transparently. In my case, I would prefer not to leverage them because I dont really need it and I would rather not have to create though associations just to address my current need.

[2017-11-08 14:24] benwilson512 commented on #5
@tlvenn Looking at this today, quick question for you. To make sure I understand you correctly, the overall goal is to be able to load a bunch of Assets by feeding Dataloader a bunch of Activity ids.

Right now the options are
1) load something by primary key
2) load things by association.

Setting aside #2 for a moment, here are the challenges with extending #1. If we want to load something by no

[2017-11-11 14:18] benwilson512 commented on #5
Update on this: after some effort on this I think the callback would look more like:

[code]

Trying to compose multiple possible loadings via `or_where` ends up being prohibitively complex.

[2017-11-12 07:56] tlvenn commented on #5
Ya looks great @benwilson512

[2017-11-14 07:48] #1 closed

[2017-12-14 05:56] Betree opened #7 "[Ecto] Don't preload if only requesting the "id" field of a belongs_to association"
Let's say I have a `:fruits_basket` object that can contains fruits and that can be placed in another basket. Something like:

[code]

As of today a request like:
[code]

...would make two queries like:

[code]

The thing is that second query is not necessary: **we already have the parent id** in grandma's basket.

I think it is a very common pattern to query only for the id of an association. In

[2017-12-21 00:14] benwilson512 commented on #7
This is a good idea :)

Implementation is a bit tricky. You gotta do some projection to determine if there's only an id field AND you gotta determine if the `id` field is using a custom resolver or not. If it's using a custom resolver then we're out of luck.

Still, probably doable. I probably won't have time to take a crack at it for a bit though unfortunately.

[2018-01-23 03:09] tlvenn commented on #5
@benwilson512 did you end up working on the proposal you are outlining above ?

[2018-01-30 22:11] benwilson512 commented on #5
Hey folks, here's where we're at. Ultimately, I'm requiring that the `load_batch` function actually does the Repo call itself. It's the only way to really let users customize how they retrieve stuff.

The complication happens in that there are really two modes of loading. One by association, and the other by queryable. For the purposes of the following examples, consider these situations:

[code]

[2018-01-30 23:05] benwilson512 commented on #5
Ok, I have a working implementation of this. The primary issue at this point is cardinality. Everything at this point assumes that for a given input like `|> Dataloader.load(source, Category, [id: 1])` that there is a single result. If we did something like `|> Dataloader.load(source, Post, [category_id: 1])` then there will plainly be a lot of posts for that given category.

Options:

1) `|> Data

[2018-01-31 02:00] tlvenn commented on #5
Great work @benwilson512 , I like where this is going !

In case of cardinality, I like option 1 which uses a ecto ish syntax.

There is one thing which i am not too sure about regarding the new shape of the batch function. The added benefit on the new shape is that you can handle things like `[[id: 1], [slug: "default"]]` in one query only which is great when you are batching using fields of the

[2018-01-31 02:04] tlvenn commented on #5
Well I spoke too soon, that wouldn't work just like that either given the `load_batch` will be called only once with all the inputs..

But I guess you understand my dilemma ;)

[2018-01-31 02:19] benwilson512 commented on #5
Right. I think the solution to your situation is just documenting that it's possible to do multiple Repo calls in a single call to `load_batch` IE:

[code]

There's already a Dataloader.pmap function that's tailored to how you want to do parallelism with dataloader so you could use that instead of the `for`.

On the subject of cardinality, if we go with `{:many, Post}` or `{:one, Category}` there'

[2018-01-31 03:17] tlvenn commented on #5
Ha great yes indeed, it's definitely not as simple as pattern matching on the batch fun itself but definitely doable.

As for the cardinality default, I agree with you, the choice is between 1 & 3. Given this is already a highly specialised batching feature that you not gonna use all over the place, I would probably be on the side of being clear and explicit.

[2018-01-31 10:06] stephenmoloney commented on #5
FWIW, I like option 3 but i tend to prefer being explicit in general. Also, it's educational.

[2018-01-31 19:44] benwilson512 commented on #5
@tlvenn you'll be pleased to know that I'm doing away with the "grouping all the columns" thing. It was hard to use, and even more importantly I don't think it's possible to actually use correctly. If you join stuff to the query with `or_where` then filtering is impossible, because it works out to `(condition1 AND condition2 AND ...) OR (id in [1,2,3])` which permits rows with `id` 1, 2, or 3 rega

[2018-01-31 19:52] benwilson512 commented on #5
Yeah ok, went ahead and did that, which although we're at 5 args (ugh) actually has a nice flow:

[code]

[2018-02-01 09:29] zerosym opened #12 "Ecto Error with Batched Queries"
I'm getting an error from Ecto when using dataloader with a batched GraphQL query request.  Specifically I have two Ecto schemas, Foo and Bar, which both reference a third, Baz, via association.
The batched query operates against both Foo and Bar, utilizing the same dataloader(Baz).

This line in the ecto source triggers the error I'm receiving:
https://github.com/elixir-ecto/ecto/blob/master/lib/

[2018-02-01 12:12] zerosym commented on #12
I ended up just duplicating the source in the loader to have separate ones for Foo and Bar to reference.  Leads to two separate db queries against the Baz table, but good enough for my current use case.

[code]

[2018-02-01 12:12] #12 closed

[2018-02-05 21:46] amcvitty commented on #5
I just came across the issue that :through associations don't work myself.

I don't see anyone answering Ben's question

So - I wrote a test that demonstrates the issue (PR #15).

I also had a quick look at the underlying issue.

Line 241 of dataloader/ecto.ex is querying the __struct__ matching on
[code]
And that works when the field is a `%Ecto.Association.Has`, but if it's a `%Ecto.Association.

[2018-02-06 05:08] benwilson512 commented on #5
Hey @amcvitty.

This is the key point:

Fortunately, I don't think we need to do this. The thing we can guarantee with the `query/2` function is that if you ask for queryable X, rules from `query/2` will be applied because we'll pass in X. What we can't guarantee is anything about ecto queries that pass _through_ X on their way Y. We can't guarantee this with custom batch functions, and we can't g

[2018-02-14 18:41] #5 closed

[2018-03-01 03:40] jfrolich opened #18 "Dataloader Ecto: Prevent reuse of a preloaded child"
The Ecto loader caches the existing associations if they are already loaded. I think a better behaviour is to explicitly cache them such as the Absinthe helper looks to support with this code:

[code]

However even if `use_parent` is false the value will still be cached.

The below code. If `parent` already contains `resource` a query will not be made:

[code]

[2018-03-01 03:42] benwilson512 commented on #18
Do you have an isolated test case that shows this? I'm not seeing any code in the ecto source that would do this.

[2018-03-01 05:00] benwilson512 commented on #18
For posterity: This was happening due to how `Repo.preload` works. If there are any existing values, `Repo.preload` just no-ops. Neither Dataloader nor ecto were doing any explicit caching, but it still acted that way due to the Ecto functionality.

I'm leaning towards having Dataloader act consistently and always query unless you've explicitly set the dataloader cache, which is what the linked PR

[2018-03-01 07:03] jfrolich commented on #18
Thanks for having a chat about this on Slack @benwilson512 and coming to the root of the problem. It's nice to be able to make sure the associations are loaded correctly even though there might be preloads hanging around.

[2018-03-01 14:56] #18 closed

[2018-03-08 00:19] bensyverson opened #22 "No LICENSE"
Hello, this repo needs a license.

[2018-03-08 20:12] #22 closed

[2018-03-08 20:12] benwilson512 commented on #22
Thanks!

[2018-03-18 23:56] itsdeezy opened #24 "Dataloader.get/4 returns nil for empty list"
#### Dataloader struct
[code]

#### Current Behaviour
[code]

#### Expected
I'd expect an empty array to be passed.

**note**
I did scrub out some irrelevant assocs on the dataloader struct.

[2018-03-19 00:27] itsdeezy commented on #24
I misunderstood the api. Need to call `get/4` with the same params as `load/4`. This includes if you use {key, args} as the batch key (a nice effect).

[2018-03-19 00:27] #24 closed

[2018-03-19 08:22] jfrolich opened #25 "Allow full ecto functionality"
Now we can just load by `id` or a named association. It would be nice if we can support the full ecto functionality by having the ability to load any queryable.
We cannot do batching on queryables, so that benefit is gone, but we can execute the queries in parallel, reducing waterfalls *and* apply simple caching. Any thoughts?

[2018-03-19 11:48] benwilson512 commented on #25
The built in loading function does a bit more than I think you realize. Suppose you have a `Category` schema that has a `slug` column like `"news", "weather", "opinion"` that sort of thing. You can look those up via:

[code]

For truly arbitrary stuff though you only need the `run_batch` option. To pick an example from the tests: You've got users who can create posts, and posts have a title. Suppo

[2018-03-19 14:42] samphilipd opened #26 "Dataloader should use MapSet for the ids"
It seems like if we make multiple duplicate loads, dataloader constructs a SQL query with multiple IDs.

For example, we construct a loader like this:

[code]

Now we get a struct like so:

[code]

Which results in a query that looks like this:

[code]

Could we use a Mapset to remove this duplication?

[2018-03-19 15:57] jfrolich commented on #25
Ok, that might be a difference. Ideally you'd like to (lazy) load data *within* the context. That's not really practical with the current implementation, but my PR is a step into that direction.

Interested to hear your thoughts, but I don't really agree with the premise.

IMO the dataloader should work at a Repo level, and the contexts should leverage dataloader as tool on top of Ecto or another

[2018-03-19 16:28] benwilson512 commented on #25
That's an interesting take, and I'll have to think about it more. My concern is that you'd either have an enormous proliferation of API functions from the context so you could grab stuff from GraphQL, or you'd simply be duplicating the dataloader API and then you're just using dataloader from the resolvers anyway.

Setting aside questions of how Dataloader should be used for a moment though, how d

[2018-03-20 03:43] jfrolich commented on #25
Yes it severely limits what I can do. I'm not married to the approach. Dataloader now is nice if your database maps exactly to your graphql schema and you don't have authorization logic in the context.

Happy to do this in a separate package, or as a fork. Also interested if there is another way to solve it.

It's not so much an interesting take, but it's the intended purpose of dataloader (the fa

[2018-03-20 04:04] jfrolich commented on #25
If you don't think the `Lazyloader` approach should be part of `dataloader`, I can publish it as a seperate package. However in my opinion this should be part of dataloader (as it's also part of the other instances of dataloader in other languages).

[2018-03-20 04:08] jfrolich commented on #25
I don't understand how the context "grabs stuff" from graphql. I think you are referring to re-using the dataloader state across context functions.

[2018-03-20 12:03] benwilson512 commented on #25
I was hoping you would offer specifics about what you find lacking in the `Dataloader.Source` protocol. I know that you find the `Dataloader.Ecto` implementation lacking but I'm trying to figure out if you feel that the protocol functions found within `Dataloader.Source` make it impossible for you to achieve what you want with a different source.

Correct me if I'm wrong but the Facebook dataloade

[2018-03-20 20:56] axelson commented on #26
I believe this is already added in these PR's:
* Dataloader.KV - https://github.com/absinthe-graphql/dataloader/pull/23
* Dataloader.Ecto - https://github.com/absinthe-graphql/dataloader/pull/20

[2018-03-20 20:58] samphilipd commented on #26
Bosh! Love it.

[2018-03-21 10:21] jfrolich commented on #25
I agree with all of the above. But I don't think you get my point.

The above explains how you design your modules, agree 100%. However if you use a module you shouldn't be exposed to dataloader at all. Using dataloader within a context should just be an implementation detail inside of contexts, as a consumer of a context (for instance for a GraphQL API layer, I shouldn't have to know or care abou

[2018-03-21 10:36] jfrolich commented on #25
As per above, it's not really about Source. However it would be nice to make Dataloader.Ecto feature complete so we can run any query (small change).

If you use Facebook dataloader in the context/model whatever the name where the business logic is it will batch repeat calls, like this:
[code]
That only results in a single query. Now if I use dataloader in my elixir get context function it will no

[2018-03-21 10:50] jfrolich commented on #25
Not showing deleted posts is really the job of the function that returns a list of posts in the context IMO, like if I run:
`Post.all()`

But I might be interested in the deletions in some cases:

`Post.all_including_deleted()`

The dataloader should query whatever the query is inside of those functions.

[2018-03-21 12:33] benwilson512 commented on #25
These are a lot of great ideas and I think I better understand your position now. In essence, you want Dataloader to be an implementation detail of the context, instead of an explicit part of the API of the context. Once it's an implementation detail of the context then we should feel free to pass in any argument value (like queries) that we want.

I actually feel like we're closer to being on the

[2018-03-21 13:11] jfrolich commented on #25
Nice. I'll be speaking at a meetup about this, so I can work on this a bit more. So I can work on explaining this in a bit more detail.

Let me work out the example in code, so you'll have a better idea why it's not possible with the current dataloader (or there might be a solution for it, I'll doubt it would be a good solution but maybe I'll just don't see it😅).

I will also work out the example

[2018-03-21 13:15] jfrolich commented on #25
Dataloader is indeed 90% there. Deferrables solve the last 10%. But let me work it out in code so it's clearer to see.

[2018-04-14 09:41] mydearxym opened #30 "get grouping_error in dataloader"
Hi guys

give a schema like this:

[code]
Absinthe Schema :
[code]
dataloader query:

[code]

what i want is very simple: get the total postCount of the community, but a got GROUP BY errors :

[code]

[2018-04-14 12:57] benwilson512 commented on #26
Handled via previous PRs.

[2018-04-14 12:57] #26 closed

[2018-04-15 01:51] mydearxym commented on #30
thanks for the magic !

[2018-05-03 15:03] mydearxym commented on #30
hi @benwilson512

just one more question, how can i access the args in run_batch/5 funciton?

[code]

[code]

[2018-05-03 15:05] benwilson512 commented on #30
@mydearxym args are supposed to be handled / applied to the `post_query` via the `query` function.

[2018-05-03 15:26] mydearxym commented on #30
for example the args passed  by user is
[code]

it will handled / applied to the post_query automatic ?

[2018-05-03 15:28] benwilson512 commented on #30
No, there is no automatic argument handling, the default `query` function is a pass through.

[2018-05-03 15:32] mydearxym commented on #30
could you please give me a example ?

[2018-05-15 03:33] bossyang opened #32 "Getting a menu item by ID returns null after 1.0.1"
### Environment

-  Elixir version (elixir -v): 1.6.4
-  Absinthe version : 1.4.12
-  dataloader version: `1.0.2`

### Expected behavior
_Craft GraphQL APIs In Elixir_
Chap 10, Complex Queries

schema.ex
[code]

resolvers/menu.ex
[code]
GraphiQL
[code]
[code]

### Actual behavior
It works with *dataloader* `1.0.0` or `1.0.1`.
[code]

Sorry to submit an issue here due to the temporary shutdown of P

[2018-05-28 03:58] tlvenn commented on #25
Any progress on this front ? Pretty interested in this topic and curious to see where it leads eventually. @benwilson512 did you have a chance to watch @jfrolich talk ?

[2018-07-14 01:14] axelson opened #40 "Hexdocs not updated for 1.0.3"
I only see hexdocs for 1.0.2 and not for 1.0.3: https://hexdocs.pm/dataloader/1.0.3/Dataloader.html is a 404 and https://hexdocs.pm/dataloader/Dataloader.html shows the 1.0.2 docs.

[2018-07-14 01:56] benwilson512 commented on #40
Ah that's just because 1.0.3 hasn't been released yet. https://hex.pm/packages/dataloader

[2018-07-14 01:56] #40 closed

[2018-07-14 02:37] axelson commented on #40
Ah, I see. Oops! Would be nice to have 1.0.3 released since it has some doc updates around the `Dataloader.Ecto` cardinality.

[2018-08-19 13:31] benwilson512 commented on #32
Fixed in 1.0.3

[2018-08-19 13:31] #32 closed

[2018-08-27 15:45] ratbag98 opened #46 "Dialyzer message: "Function data/1 has no local return", when default_params is set"
Using dataloader 1.3 on:

[code]

When my `data` functions look like:

[code]

Dialyzer complains with the "Function data/1 has no local return" message, which trickles up to its callers (terminating with the `dataloader` setup function).

If the code looks like:

[code]
(ie no default_params), then I get no dialyzer warnings (at all, in a 310-file project, how did that happen?). Yay! Of course, I

[2018-08-27 15:49] benwilson512 commented on #46
This is probably because `default_params` isn't in the opt typespec, and it should be https://github.com/absinthe-graphql/dataloader/blob/master/lib/dataloader/ecto.ex#L163

I've added it to master, can you try running against master and seeing if that works?
[code]

[2018-08-27 15:56] ratbag98 commented on #46
That fixed it. Thanks for your customarily insanely rapid response. Seriously, take a break dude.

Side note: I actually tried making that change in my local copy before creating this issue, but I obviously didn't flush some dialyzer cache or did something equally stupid since it didn't do the trick for me.

[2018-08-27 15:57] benwilson512 commented on #46
Thanks for pointing it out!

[2018-08-27 15:57] #46 closed

[2018-09-03 15:42] benwilson512 commented on #25
Hey @jfrolich @tlvenn I just wanted to provide an update. The last 6 months have been overwhelmingly busy for me both with Cargosense stuff as well as personally. Fortunately we've made a lot of progress on Absinthe 1.5 and hope to release it in the week after ElixirConf. At that point I look forward to focusing on this question.

FWIW we've run into this too. It is not possible with the current D

[2018-09-04 03:02] jfrolich commented on #25
@benwilson512: Same with my startup as well, so I also left it in an incomplete state. Looking forward working on a good solution/API for this!

[2018-09-10 11:52] samphilipd opened #47 "Dataloader never exits Task.Supervisor spawned inside `async_safely` causing a memory leak"
We've been seeing ballooning memory usage on our production servers.

The memory is taken up by Task.Supervisor spawned here: https://github.com/absinthe-graphql/dataloader/blob/master/lib/dataloader.ex#L232. Each time that `async_safely` is run, a new supervisor is spawned which is never cleaned up.

For large queries, this supervisor can take up considerable memory (I’m not sure why, this may be

[2018-09-11 10:39] #47 closed

[2018-09-11 16:16] samsondav opened #50 "No way to load "all" records"
How can I use dataloader `load_many` to load all records (not giving any IDs)?

[2018-09-11 16:49] benwilson512 commented on #50
Short answer: There isn't a way right now.

Longer answer: The whole of Dataloader is predicated on a key / value paradigm. This is true even for the ecto source and ecto associations, where when you load something like comments on a post the key is `{some_post, :comments}` and the value is all the comments. So what we'd need for Dataloader to load all posts is a key that looked like `{%Dataloader

[2018-09-25 11:51] icehaunter opened #51 "Any way to partition the queries to limit for each branch separately?"
Basically, my question is this:
I want to be able to do the following query in absinthe:
[code]

The resolver for products in the categories is a `dataloader/1` function delegating to the query function, as per the tutorial.

In the `query/2` function I receive the `limit` parameter, as expected, but when I go to limit the query like

[code]

Dataloader gives 4 objects in total, not per category.

[2018-09-25 13:46] icehaunter commented on #51
For now, I had implemented this behavior using `on_load/2` instead of `dataloader/1`, limiting the results already in Elixir. This isn't optimal, in my opinion, but it works and my database is not that large for now.

[code]

[2018-09-25 22:19] Yamilquery commented on #50
Yes. As @benwilson512  said, Dataloader is predicted on a key-value paradigm. So if you want to get a more detailed knowledge about it, take a look to [Using Dataloader to Batch Request](https://medium.com/@gajus/using-dataloader-to-batch-requests-c345f4b23433)

[2018-09-26 04:03] axelson opened #52 "Calling Dataloader.get on a value that wasn't loaded raises an error"
Writing this up as discussed in our Slack discussion, although I'm not sure it is a bug per se.

I think this may be just a change in behavior that should be documented as a breaking change (in 1.0.3). I'll prepare a PR to that effect.

[2018-09-26 12:43] benwilson512 commented on #52
Ah yeah definitely not a bug if it wasn't already loaded. Trying to do a `get` for something that wasn't already there was never really supported, it just didn't happen to return an error before.

[2018-09-26 12:44] #52 closed

[2018-09-26 19:51] axelson commented on #52
Yup, makes total sense.

[2018-10-23 22:07] jamesfid opened #55 "Multiple has_many through associations with queryable chasing"
## Versions
Ecto: 2.2.11
Dataloader 1.0.4

## Overview
In our system, we have the following contexts:

[code]

Our goal is to serialize the `institution_spaces` as part of our `user` object in the schema:
[code]
The associations work correctly via raw Ecto when preloading.

## Error
Serializing it via the schema results in:
`     ** (CaseClauseError) no case clause matching: %Ecto.Association.HasT

[2018-11-10 21:28] cbrewster opened #56 "Support Ecto 3.0"
When I try to update to Ecto 3.0 in my codebase I get a conflict:
[code]

[2018-11-17 00:20] gbxl commented on #55
Experiencing the same behavior with a plain resolver.

[code]
Where the `Shelf` object is associated to products like so:
[code]

I get ```
[error] #PID<0.1860.0> running MasterProxy.Plug (cowboy_protocol) terminated
Server: localhost:4000 (http)
Request: POST /api/platform/merchandising/
** (exit) an exception was raised:
    ** (CaseClauseError) no case clause matching: %Ecto.Association.HasThro

[2018-11-17 02:05] Aleksion opened #57 "Absinthe: Loading across sources"
I might have misunderstood what dataloader is trying to do, but I thought I could potentially use it to load data across sources (In this case two distinct databases).
An example could be:

- IAM database:
Contains BASIC user information

- Core database:
contains user preferences etc:

Example of what I would like to achieve in Absinthe:

[code]

If I try to do something similar to this I get the

[2018-12-03 20:48] axelson commented on #51
If you want to do this type of query you need to look into Lateral Join, full support for them requires Ecto 3.0. However, I'm not sure about any examples that directly touches this (relatively common) use-case. But maybe someone else can help you out there.

[2018-12-03 21:36] axelson opened #60 "Dataloader.Ecto throws an error if you try to load a non-ecto struct"
`Dataloader.Ecto` currently throws an `UndefinedFunctionError` if you try to load a non-ecto struct. However, I believe that this is a scenario that `Dataloader.Ecto` should be able to handle because that non-ecto struct could be derived from data that is in the database.

Here is an example error for an example non-ecto struct named `%Dataloader.MentionTag{}` (that represents entries that can be

[2018-12-03 21:54] benwilson512 commented on #60
My main concern here is that I don't know how any of the Dataloader.Ecto callbacks could work. The `query` one for example wouldn't be able to use or return a queryable. It'd always require a custom run_batch run and a bunch of the variables there won't make a ton of sense.

What would `Dataloader.Ecto` offer for these types offer over `Dataloader.KV` ?

[2018-12-03 22:22] axelson commented on #60
Yeah, I believe that you'd have to use `run_batch` instead of `query` to load the data.

If 95% of the data that I want to load is backed by a queryable, but the other 5% is not I don't want to need to either have:
* Both a `Dataloader.Ecto` source and a `Dataloader.KV` source
* Be forced to only use `Dataloader.KV` just because of the 5% of data/queries that are not queryables

[2018-12-06 18:55] axelson commented on #56
That's not related to data loader since dataloader requires specifies any version of ecto `{:ecto, ">= 0.0.0", optional: true}`

Try `mix deps.update ecto db_connection` to update db_connection as well.

[2018-12-06 19:22] cbrewster commented on #56
Ahh thanks, Everything seems to work now!

[2018-12-06 19:22] #56 closed

[2018-12-07 22:12] clouds56 opened #61 "Allow configure repo_opts per query"
Now we could only configure `prefix` in `repo_opts`, is it possible to make the option also available in `Dataloader.Ecto.load`? For example
[code]

Now ecto-sql 3.0 already supported `prefix` well, hope dataloader could do better.

[2019-01-04 04:08] benwilson512 commented on #55
Fixed by #65

[2019-01-04 04:08] #55 closed

[2019-02-04 01:47] hisapy opened #66 "Dataloader.Ecto: Only 1st record loaded if assoc has no :id PK"
Hi devs, I'm reporting this issue after a lot of unsuccessful debugging ... even with `:debugger`.

The problem is that when you create a migration without an `:id` PK, such as

[code]
... and try to load it, only the first record is loaded. This is fixed as soon as you put the id in the migration.

Unfortunately I can't paste the rest of the code here but anyway, I'm leaving this issue here to ke

[2019-02-04 17:14] hisapy commented on #66
Wouldn't it make sense to _configure_ what keys to use when calling `load` or other related functions? ... If it makes sense I might try to solve it in a PR

[2019-02-06 23:14] axelson opened #67 "Dataloader.Ecto not compiled with Ecto 2.x"
Since commit https://github.com/absinthe-graphql/dataloader/commit/8a53e31342893d72a0096d0aee7b6b03992dd92a changes the optional dependency on `ecto` to `ecto_sql`, since my project is still on Ecto 2.x the optional dependency on `ecto_sql` has no effect. This means that dataloader may be compiled before ecto, which in turns means that the `if Code.ensure_loaded?(Ecto)` check fails in `dataloader_

[2019-02-06 23:32] benwilson512 commented on #67
@axelson yeah I think the only reason we did ecto_sql was for tests I think, can you do a PR where you move it to `only: :test` ?

[2019-02-07 00:25] axelson commented on #67
@benwilson512 created! https://github.com/absinthe-graphql/dataloader/pull/68

[2019-02-07 03:06] #67 closed

[2019-02-15 17:31] 1player opened #71 "Dataloader.Ecto raises if ID type casting fails"
https://github.com/absinthe-graphql/dataloader/blob/56f7cb4ceb822f6d75c53188902b32a4cb9b737c/lib/dataloader/ecto.ex#L540

By default the `ID` type in Absinthe is a String. If one has regular integer fields in their Ecto schema, a user might pass a string that can't be casted to ID, the line above will fail, raising an match error.

[code]

Setting `get_policy` to `:return_nil_on_error` or `:tuples

[2019-04-02 18:09] rjacobskind opened #73 "Allow access of parent values in query()"
I'm using dataloader to resolve a field:
[code]
When I query this field, I eventually hit my custom `query()` function. I want to be able to explicitly access values from the parent so I can use them for certain clauses within my query, similar to what's shown below:

[code]

Is there a way to achieve this? If not, it would be helpful functionality to have added.

[2019-04-02 18:13] benwilson512 commented on #73
Hey @rjacobskind. I think there's a bit of a conceptual mismatch here, probably because the existing docs may not explain it super well.

You definitely don't want to access the parent inside of query, because if you make parent specific alterations to query, no batching would ever happen. Batching is possible because N things all end up with the same root query. If every child of N parents gets a

[2019-04-02 19:12] rjacobskind commented on #73
Ah I see. I've actually tried implementing a custom run_batch function, but haven't been able to get it working yet.

Essentially I'm trying to run a query with a join, where I need a value on the joined table to equal a value on the parent:

[code]

[2019-04-02 19:19] benwilson512 commented on #73
Right, but the issue here is that you need to do this for _all_ parents, not just one of them. Otherwise, you won't get batching. here's an example:

[code]

[2019-04-02 19:48] benwilson512 commented on #71
This is probably the correct result right? Ecto would raise as well if you were doing this manually. Silently ignoring the input per the PR doesn't seem like the answer.

[2019-04-02 19:58] 1player commented on #71
What's the alternative? Checking if an ID can be parsed as integer in all resolve functions is not very ergonomic, and would introduce unfortunate coupling between the Ecto model and the GraphQL schema.

At this time, any Absinthe GraphQL server that uses dataloader can crash and raise an exception just by passing a string to an `ID` argument, when using the default `Absinthe.Resolution.Helpers` f

[2019-04-03 13:09] rjacobskind commented on #73
Yes, you're right -- Thanks for clarifying that. Using a custom `run_batch` was the solution I was looking for.

[2019-04-03 13:09] #73 closed

[2019-04-03 15:24] benwilson512 commented on #71
What I'm suggesting is that this is a general problem you run into when using Ecto inside resolvers, whether that is mediated by dataloader or not. It would seem then that the solution should probably happen at the GraphQL level, whatever that may be.

[2019-04-10 16:36] alex-knowles opened #74 "Dataloader.KV runs once, never again"
## Summary
* **Version**: Dataloader 1.0.6
* **Expected behavior**: You can call `Dataloader.run/1`, then `Dataloader.load/4` with new items and then `Dataloder.run/1` again to fetch results for the new items
* **Observed behavior**: When `Dataloader.KV` is the source, the second call to `Dataloader.run/1` does not fetch results for new items

## Details
It's possible that the `:load_function` I'm

[2019-04-12 03:34] alex-knowles commented on #74
I wrote a test to illustrate.  In commit ef5c978:

https://github.com/absinthe-graphql/dataloader/blob/ef5c978502796001fe101f290bdbeefab4dc51e6/test/dataloader/kv_test.exs#L63-L76

The test currently fails:
[code]

Ben is in the results from round 1, but Bruce didn't make it in round 2.

[2019-04-16 10:58] zdeneksejcek opened #76 "Transforming Ecto struct"
Hi,

we use Absinthe, Ecto and dataloader to fetch data from DB. In table, we have string column, but in GraphQl interface, we need to present string as enum (with String.to_atom or something).

Is there a place for such a transformation?
Thanks.

[2019-04-16 11:09] benwilson512 commented on #76
Hey @zdeneksejcek. In the future, general Absinthe questions should probably use the forums or other help channels not the issue tracker.

This doesn't really have anything to do with Dataloader, since you can solve this with your enum definition. Instead of doing:

[code]
Do:
[code]

[2019-04-16 11:09] #76 closed

[2019-04-16 11:11] benwilson512 commented on #74
Fixed by PR, thank you!

[2019-04-17 17:30] #74 closed

[2019-05-07 03:27] hisapy opened #78 "ORDER BY of a has_many through not respected"
Given the following Ecto schema (copied from the tests)

[code]
and a `query/2` function like

[code]

The end result of

[code]

is not not ordered by `user.id` DESC

In other words, the end result is returned with the order of the intermediate query, not honoring the ORDER BY clause given in  `query/2` .

I'm not very familiar with the code but from I've saw in it, it seems to me that instead of

[2019-07-02 10:18] aaparmeggiani commented on #51
Hey @icehaunter,  is this the one you were waiting for?
https://github.com/elixir-ecto/ecto/commit/ec47bb8483dd5206bd02b68c69c15eacf744be07

[2019-07-04 22:40] jaslong opened #79 "Support "max batch size""
Analogous to https://github.com/graphql/dataloader/pull/42

Very useful with the KV source, where the load function is calling batch APIs with max batch sizes.

I may be able to help implement this. If I were to implement to this, should the "max batch size" functionality be in the Dataloader or KV level? I think it makes sense at the Dataloader level to allow any source to use this functionality.

[2019-08-28 14:30] futpib opened #80 "There is no tag `v1.0.6` which is the latest version in hex"
This complicates investigation and makes all links from hexdocs broken

[2019-11-12 23:16] agalvez-papa commented on #61
Please!

[2019-12-10 12:40] Adzz opened #85 "Is it possible to specify which field to batch requests by?"
This is more of a question, like is it a good idea / possible...

We have a struct that does not always have an id; the struct is generated from a sql query and we map the result into a struct (that might at some point get saved to the db).

That struct also has relations, and I was going to use dataloader to get its relations, but dataloader batches by the parent id (as far as I can tell). Meanin

[2020-01-08 16:49] dpehrson opened #86 "Package release needed that includes merged PR #75"
Howdy all,

We recently ran into a production bug which breaks queries that touch the same field (backed by a custom `KV` store) in two different places in the query.

The underlying bug was fixed in #75 and merged in commit 4c4d53610aeca7561636ba6c97f1c5f633462ed4

Currently we are depending on that commit specifically for builds/deployments, but would greatly appreciate if it would be possible t

[2020-01-09 16:57] benwilson512 commented on #86
Done!

[2020-01-09 16:57] #86 closed

[2020-01-09 17:07] benwilson512 commented on #85
Hey @Adzz this is entirely doable. I'll start with the most explicit version and go from there. Most explicitly you can just do this:

[code]

This will batch get a bunch of SomeChild schemas based on `some_column`. When you say relations though, if you define the relations properly such that `parents |> Ecto.assoc(:children) |> Repo.all` works, then dataloader should just work. Can you provide mo

[2020-01-09 17:12] benwilson512 commented on #80
Tag added for 1.0.7

[2020-01-09 17:12] #80 closed

[2020-01-10 12:51] futpib commented on #80
Still no tag for 1.0.6 so unless you upgrade you can't check the source code for the version you're using on github. All source code links on https://hexdocs.pm/dataloader/1.0.6/Dataloader.html are broken.

[2020-01-10 14:14] benwilson512 commented on #80
Also now fixed.

[2020-02-05 08:18] jfrolich opened #87 "Allow override for preload in Dataloader Ecto"
We can already override `run_batch`, but `preload` is hard coded. It would be nice to be able to add a customizable preload here.

[2020-02-05 12:49] benwilson512 commented on #87
Hi @jfrolich can you elaborate?

[2020-03-14 19:17] sergiotapia opened #88 "Trouble getting Dataloader to work in a fresh umbrella application"
Even recompiling absinthe doesn’t fix it.

[code]

I’m in an umbrella application, added absinthe and dataloader to the phoenix app within the umbrella, and added only dataloader to the logic app within the umbrella.

Tried deleting `_build` and `deps` but the same result.

[code]

I'm wondering if this is caused by my core app only having dataloader in mix.exs for:

[code]

And my phoenix app hav

[2020-03-18 15:45] sergiotapia commented on #88
Hm... still stuck on this any ideas @benwilson512

[2020-03-18 19:26] benwilson512 commented on #88
Hi @sergiotapia, dataloader is an explicit dependency of nuki? What Elixir version are you on?

[2020-03-22 23:02] stap-pipeline commented on #88
@benwilson512 Yep

Nuki's mix.exs:

[code]

And nuki_web's mix.exs:

[code]

[2020-03-22 23:05] sergiotapia commented on #88
@benwilson512 Yep

Nuki's mix.exs:

[code]

And nuki_web's mix.exs:

[code]

The umbrella's mix.exs has no deps set.

[code]

[2020-03-23 00:27] sergiotapia commented on #88
I figured it out @benwilson512 , this fixed it:

[code]

I would like to share this set up guide "Adding absinthe/dataloader to your umbrella elixir application." - do you think I can do this in the repo, as a Wiki page or similar?

[2020-03-23 13:31] benwilson512 commented on #88
Hi @sergiotapia I'm glad we could get it sorted out. Technically though, the solution and the problem have nothing to do with umbrella applications right? Or are you saying you have other content that is relevant for umbrella apps you'd like to share? If so, please feel free to open a PR with a guide markdown document within Absinthe.

[2020-03-23 13:31] #88 closed

[2020-03-24 02:28] sergiotapia commented on #88
That is correct - the issue had nothing to do with the umbrella app. I hope this thread helps people. I'll work on a little Wiki guide as well!

[2020-03-28 14:59] #87 closed

[2020-03-28 14:59] #85 closed

[2020-03-28 15:00] benwilson512 commented on #79
I think this depends on the source, since whether this limit can even be used depends on the source. PR welcome.

[2020-03-28 15:00] #79 closed

[2020-03-28 15:00] #71 closed

[2020-03-28 15:06] jfrolich commented on #87
🙈Can't remember anymore. Sorry for this poorly described issue. I can remember I had some dirty workaround so I will probably run into this later on, and then try to create a better issue.

[2020-03-28 19:52] benwilson512 commented on #87
All good!

[2020-04-09 11:07] Adzz commented on #85
Sorry I never managed to get back to this and now I've left the work where the codebase was that had this problem! Thanks for the reply though!

[2020-05-01 14:50] wbyrnetx opened #91 "The given atom is not a module"
I've been following this guide for setting up absinthe + dataloader + ecto.
https://hexdocs.pm/absinthe/ecto.html

I cannot for the life of me figure out why none of the example in that guide (or the many others I've  searched) do not work for my application.

When I make this GraphQL query:
[code]

I get an exception that reads `The given atom - :traits - is not a module.`.
[code]

Here are the r

[2020-05-01 15:31] wbyrnetx commented on #91
Mystery solved... it was the `Map.drop` in my resolver causing the issue.
[code]

Without the `__meta__` and `__struct__` keys the dataloader does not know what to do with the association. The call to `Map.drop` was a carry-over from my controller when I did not want to preload the association.

[2020-05-01 15:31] #91 closed

[2020-07-28 10:00] tcrossland opened #94 "Dataloader.dataloader_timeout/1 returns nil if any source has no timeout specified"
I have a Dataloader with several data sources. Some are slow `Dataloader.KV` sources, so I set their timeouts to 30 seconds. Others are fast `Dataloader.Ecto` sources, I don't specify a timeout. The problem is that `dataloader_timeout/1` return `nil` instead of `30_000`, so the dataloader doesn't respect the timeout of the slow data sources.

I think this is an issue, feel free to close otherwise.

[2020-07-31 13:09] benwilson512 commented on #94
This is sort of a bug, in that I the `Source.timeout` function should either return a manually specified timeout, or default to the default timeout.

Do note therefore that the way this will be fixed is by _always_ having a timeout specified. If you want something to run indefinitely you can use `timeout: :infinity` but I strongly caution against this.

[2020-08-03 08:13] tcrossland commented on #94
Thanks Ben, that's what I ended up doing. For some reason resolution was still timing out after 17 seconds (rather than the 30 seconds I'd specified in the dataloader and it's sources). I was able to improve the response time of the slow datasources using batching so this is no longer a problem for me, but I suspect a timeout issue remains somewhere in the resolution / dataloader modules. Feel fre

[2020-08-11 11:08] tcrossland commented on #94
I've looked into this a bit further... It seems that `Dataloader.KV.run/1` doesn't pass the `timeout` or `max_concurrency` to `Dataloader.run_tasks/3`.

https://github.com/absinthe-graphql/dataloader/blob/5bdf29472372b369ae3eb2766a975bebc14944de/lib/dataloader/kv.ex#L102-L110

Even if it did pass the options, the `max_concurrency` option is currently ignored by `Dataloader.run_tasks/3`, so the tim

[2020-08-11 19:40] tcrossland commented on #94
@benwilson512 thanks for merging #95... I guess this issue can be closed now? Let me know if you'd like me to do a PR to document the `max_concurrency` option.

[2020-08-11 21:08] benwilson512 commented on #94
More documentation is always better, that'd be great, thanks!

[2020-08-11 21:08] #94 closed

[2020-08-26 03:12] davidye opened #97 "Error upgrading from 1.0.7 -> 1.0.8: cannot preload associations in subquery in query"
Upgraded to 1.0.8 of dataloader and am getting this error now:

[code]

Didn't see anything mentioned in the changelog about this - happy to dig in and provide more information if helpful!

[2020-08-26 10:14] benwilson512 commented on #97
Hey @davidye can you provide more info? Can you show your loader file?

[2020-08-26 18:13] davidye commented on #97
@benwilson512 I have schemas User and and UserProfile and querying for user, I preload UserProfile.

So in my resolver:

[code]

So dataloader calls Accounts.query(...) with [load: :profile] and that constructs a standard Ecto query of this form:

[code]

Also just noticed there's more error output - did something change with the way dataloader constructs ecto queries in 1.0.8?

[code]

[2020-08-26 23:30] mbuhot commented on #97
@davidye yes the presence of the limit/offset in the query is causing it to use a new code path that runs your query as a lateral subquery.
It's intended to support getting the first N associated rows per parent record, but looks like I didn't test it with preloads, 🤦‍♂️.

To fix this specific issue we could update the code to not use the `load_rows_lateral` function when loading a batch of rows u

[2020-09-30 16:47] jueberschlag opened #103 "Missing `v1.0.8` tag for hex documentation"
The `v1.0.8` tag is missing on Github (maybe it was simply not pushed) and therefore the hexdoc links are broken for 1.0.8 documentation.

[2020-10-07 09:14] sevenseacat opened #105 "Error after upgrading from 1.0.7 to 1.0.8: database prefix information being lost"
This might be a bit vague but I believe it's to do with the batching functionality here https://github.com/absinthe-graphql/dataloader/pull/93 (which is what I upgraded to get).

My app uses Postgres schemas for multi-tenancy, and in 1.0.7 this worked fine. As far as I can tell, I haven't needed to manually specify the schema for Dataloader anywhere - my Absinthe resolvers use the correct prefix (

[2020-10-23 02:16] Un3qual opened #108 "Pass association/batch_key to query function"
Would it be possible to add the association name to the options passed to the query function when using a custom query?
For example:
[code]
would pass `%{assoc_name: :replies}` or something similar to the opts parameter in the query function.

[2020-11-03 20:48] krainboltgreene opened #109 "Doesn't seem to understand "through" relationships"
The model:

[code]

The type:
[code]

The context with dataloader
[code]

The exception:
[code]

I attempted to also add dataloader sources for OrganizationMembership, but that didn't change anything.

[2020-11-03 21:08] benwilson512 commented on #109
Hey @krainboltgreene I'm a bit confused. It is not particularly normal to do a source for each Ecto schema, usually you use one source per context or database.

Can you provide the full stacktrace or an executable example?

[2020-11-03 21:55] krainboltgreene commented on #109
This was largely my attempt at understanding the dataloader integration, so I might have gotten it very wrong, but I was able to do `accounts->some_other_relationships` just fine in other requests, which is why I thought I got it right.

Here's the stack trace:

[code]

[2020-11-03 21:59] krainboltgreene commented on #109
It looks like this was related to me doing an `insert` when I should be doing an `update`?

[2020-11-03 21:59] #109 closed

[2020-11-05 16:09] tlvenn commented on #51
This is now supported with the latest release (See https://github.com/absinthe-graphql/dataloader/pull/93)

[2020-11-05 16:09] #51 closed

[2020-11-07 03:56] sevenseacat commented on #105
Fixed by #107

[2020-11-07 03:56] #105 closed

[2020-11-10 00:41] Un3qual opened #110 "Check if record already loaded when running"
I've run into a problem where loading the same item from the same source with the same batch key, but after dataloader has already ran, causes the record to be fetched again. Example:
[code]
In the resolver for the "post" query, I load the record with dataloader instead of just using raw ecto because I want its children to be able to read it without fetching it again. When I run the above query, i

[2020-11-10 20:31] Un3qual commented on #110
Okay this one was my bad. The id that I used as the item key when I first fetched it was from the arguments on the query which resulted in a string id. The id that I was using later was from an association which gave me an integer id. I used my own IDTranslator that calls `String.to_integer/1` on the id and now it works.

[2020-11-10 20:31] #110 closed

[2020-11-13 15:21] MeterSoft opened #111 "Unable to find item [\"4039624a-9b02-448d-8158-0db13da76efb\"] in batch"
why this error can produced? it happened when we use big graph query with connections?

[2020-11-13 15:23] benwilson512 commented on #111
Hi @MeterSoft, this means that you are calling `Dataloader.get` for an item that is not loaded. For general questions and support though please see the ElixirForum or Slack.

[2020-11-13 15:23] #111 closed

[2020-11-14 04:33] Un3qual opened #112 "Discussion about how to handle deeply nested dataloader"
I have a graphql query that looks like this (simplified)
[code]
I am using Dataloader for the associations and for the `viewerHasLiked` field. Unfortunately, when this query is run, Dataloader runs the query for `viewerHasLiked` twice. Once for the post and its comments, and once for the comments' replies. I have been trying to figure out a way to merge this all into one query and it ended up brin

[2020-11-14 05:04] Un3qual commented on #112
Thinking about it even more, if we're gonna go the route of walking the whole tree (or walking all of a field's children depth first) ahead of time to know what to wait for and what to fetch now, it might be worth adding the ability to choose between joins or batches, because in a lot of cases, joins might be more efficient.

[2020-11-14 08:43] tlvenn commented on #112
Hi @Un3qual ,

You should read this topic: https://github.com/absinthe-graphql/absinthe/issues/269 , I believe it will contrast with your intuition. Both approaches have different trade offs.

[2020-11-14 13:49] benwilson512 commented on #112
Here's the thing. What you're asking for isn't _strictly speaking_ impossible, but it's quite hard for two reasons:

1) Resolvers are opaque to Absinthe. They're a stack of functions that contain and execute arbitrary code, Absinthe cannot easily know that partial resolution of suspended fields will be better than complete resolution of suspended fields. Right now Absinthe has an execution flow. W

[2020-11-14 13:49] #112 closed

[2020-11-14 13:58] benwilson512 commented on #108
@Un3qual can you elaborate on your use case?

[2020-11-14 13:58] benwilson512 commented on #97
Fixed in #98

[2020-11-14 13:58] #97 closed

[2020-11-17 21:30] Un3qual commented on #108
It would be useful to easily be able to have different behavior for the query function depending on which association I'm loading.

[2020-11-25 19:45] kyleVsteger opened #113 "Map.t() dialyzer issue"
https://github.com/absinthe-graphql/dataloader/blob/master/lib/dataloader/ecto.ex#L281

Can this be changes from `Map.t()` -> `map()`?
I pulled down the repo but could not push a branch upstream.
Thanks!

[2020-11-25 20:09] benwilson512 commented on #113
Yeah you'd have to push a branch to your own fork, and then do a pull request. Definitely worth it for future things but I'll go ahead and just handle this.

[2021-02-16 18:59] gabrielpra1 commented on #78
I'm also experiencing this bug in v1.0.7

[2021-03-02 12:45] MeterSoft opened #116 "limits or something else?"
i use v 1.0.7
All association use custom batch.
Also i have a big struct like
[code]

But looks like when i try load many dataloader batches i got error
`"Unable to find item [\"a83e3944-1b45-4f70-b400-0f119d989fb0\"] in batch`
when i remove 1 field with dataloader from query all is ok but after back it query again failed.
 Any things?

 one example

[code]

[code]

[code]

[2021-03-04 21:40] morgz opened #117 "Accessing values from the context and passing in as argument"
I'm trying to filter an objects association with the id of my current user which I put in the **context** via middleware.

I am trying to find, and failing, a way to pass this to the dataloader method I have setup in the context.

[code]

I can pass arguments this way:
[code]

And I can access the id this way, but I can't find the way to then pass it to the method like I can above!
[code]

Any tip

[2021-03-04 23:27] benwilson512 commented on #117
My @morgz, the best way to do this is actually at the point where you initialize the dataloader instance itself. See `default_params` in https://hexdocs.pm/dataloader/Dataloader.Ecto.html#content.

However you could also pass them in by doing `load(loader, Exercises, {:user_excercise_favorites, %{current_user: user}}, exercise)`

[2021-03-04 23:27] #117 closed

[2021-03-30 21:34] eprothro commented on #25
@benwilson512 do you have thoughts on these kind of these kinds of loading issues in 2021? Is there a good answer to this with the current iterations of Absinthe / Dataloader?

[2021-04-02 16:30] eprothro commented on #25
Hi @tlvenn I don't have a concrete issue. I'm evaluating implementing dataloader on a project and was curious about usage from context functions and more complex authorization scenarios. Ben and Jaap mentioned those here, so was curious of their take today and what patterns they're using for the concepts raised in this issue.

[2021-04-08 17:42] jotaviobiondo opened #124 "Badmatch error when child have limit and offset and parent have composite primary keys"
When we have a limit and offset in a child queryable of a parent that have composite primary keys, we get a `badmatch` exception because of this: https://github.com/absinthe-graphql/dataloader/blob/19345b4b9dd349b99f8338c4b3ae902a5b035995/lib/dataloader/ecto.ex#L688

I'm happy to help with a PR, I'm just no sure what is the best way to use the primary keys in the `where` clause below to get the re

[2021-04-12 03:21] benwilson512 commented on #124
Hey @jotaviobiondo. Unfortunately I'm not sure about the best way to support composite keys, it is intentionally not supported yet within Dataloader. You are welcome to contribute this feature, but it is not on the roadmap at this time.

[2021-04-12 03:21] #124 closed

[2021-06-02 16:52] iteron-yasir opened #125 "Return response fields based on the context"
Need to return response based on the context.

This is my schema.ex

[code]
If the get_user API was hit by logged in user(By context, I was validating that). I will to return all the fields. The dataloader will do loading the associations job for me.
[code]
How can i achieve this with dataloader?. Dataloader try to load all the association every time(If that particular field was passed from the fr

[2021-06-02 17:02] benwilson512 commented on #125
Hi @iteron-yasir. Please use the Elixir forums or slack for questions / help. The issue tracker is for issues and bugs only.

[2021-06-02 17:02] #125 closed

[2021-06-03 03:47] iteron-yasir commented on #125
@benwilson512 I've already asked same question in elixirforum https://elixirforum.com/t/return-response-fields-based-on-the-context-using-dataloader/40162. But, I didn't get any solution. That's why I asked here. Can you help me with this

[2021-06-03 14:49] benwilson512 commented on #125
You need to be patient. It doesn't help that your question contains lots of code sketches that aren't real Elixir code. If you make things more concrete and real it helpful to people.

[2021-07-03 08:31] sam701 opened #127 "Redundant ecto queries"
I'm trying to plug this awesome dataloader module. It's working as expected so far but I'm observing redundant ecto queries in the following scenario. Here are absinthe objects of my graphql schema:
[code]
When I fire the query below I observe 4 queries `select * from users....`:
[code]
Is there a way to define the absinthe objects so that there will be just one query for the users?

I managed to

[2021-07-07 18:03] follmann opened #128 "New release planned?"
Hi all,

we were just wondering if a new release is planned that includes all features and fixes that have been merged since `1.0.8` from August 2020. We rely on some of our contributions and others and I'd be great to have a specific version locked again instead of pointing to master.

Thanks!

[2021-07-12 11:01] sam701 commented on #127
The "hack" I described above is wrong. It worked only because `created_by` and `updated_by` was the same user. I will edit the issue description.

I came up with the following solution:
[code]
and then in the schema:
[code]

This works. But the question now is if this can be done automatically by `Dataloader.Ecto`? Or are there any reasons why it can/should not be done?

[2021-07-26 15:28] Paryz commented on #116
I have exactly the same problem, but not directly the same. I have this helper:
[code]
and in some queries it will fail with the same error as you, but when I remove `parent: object` from the args everything works fine. I spent around 3 days debugging the problem and still could not understand how all this dataloading works from start to end.

[2021-07-26 15:31] Paryz commented on #111
@MeterSoft is your struct names `%Connection{}` I recently started having the same problem with struct that was called this way

[2021-07-26 15:40] Paryz commented on #73
@benwilson512 maybe there is a chance to say state it in some docs? I've just spent around 3 days figuring out why pushing the parent to the args of dataloader produced so strange results, but after reading your explanation it finally got clear 😅

[2021-08-04 21:35] the-destro commented on #128
+1 as cutting a release will also pull in a dialyzer fix I am being bitten by: #114

[2021-08-11 11:23] arnodirlam opened #129 "Error when used in transactions"
Hi there,

we're using Dataloader without Absinthe and came across this error:

when running the following code in a test:

[code]

Outside of an `Ecto.Multi`, it works:

[code]

Is this something that can and should be fixed in `Dataloader`?

Thanks a lot for this great project! 🙌

[2021-08-11 12:06] arnodirlam commented on #129
Tried with

- Dataloader 1.0.8 and master
- Ecto 3.6.2 and master

[2021-08-11 12:18] benwilson512 commented on #129
Interesting. Dataloader.Ecto explicitly sets the caller value to the pid that calls `load` in order to avoid this issue. A test case which reproduces this would be very helpful if you have time open a PR with one.

[2021-08-17 13:34] jadlr commented on #128
@benwilson512 any news on this? We're still running with our own fork.

[2021-08-18 11:15] arnodirlam commented on #129
Turns out it just expects an `:ok` tuple, which we did not return. So this works:

[code]

Thanks a lot for your time and help! 🙏 Closing this issue..

[2021-08-20 16:52] benwilson512 commented on #128
Done.

[2021-08-20 16:52] #128 closed

[2021-08-20 23:25] tlvenn commented on #128
Thanks @benwilson512 !

[2021-09-24 16:12] arnodirlam commented on #129
We ran into issues again, now with a correct return value for `Multi.run/3`. Please see my updated [PR branch](https://github.com/absinthe-graphql/dataloader/pull/130).

[code]

Grateful for any hints or pointers! 🙏

[2021-10-14 17:39] benwilson512 commented on #129
@arnodirlam are you able to create an example I can run?

[2021-10-14 20:20] arnodirlam commented on #129
@benwilson512 Yes, the tests in the linked PR should fail: #130

[2021-10-20 10:46] giddie opened #133 "run_batch override for association loads"
It would be really nice if we could override batch loading for associations.

Imagine a fusebox with fuses. In my absinthe schema, I specify:

[code]

I can specify a base query in the context module:

[code]

However, imagine that later, we decide that for our domain model, a fusebox cannot contain zero fuses, so if none are found for a given Fusebox, we should return a single default fuse. I wou

[2021-10-21 05:05] tlvenn commented on #133
Hi @giddie,

You should be able to do this by leveraging the `callback` [option](https://hexdocs.pm/absinthe/Absinthe.Resolution.Helpers.html#dataloader/3-options) of the dataloader helper.

[2021-10-21 09:15] giddie commented on #133
Hi @tlvenn. Thanks, but that's the problem - it pushes responsibility for a domain logic concern right down into the schema resolution layer. This really should be handled in the context module.

For now I've decided to bypass the magic association helper in the schema and use Dataloader directly, handling all association batch loading at the context level (with some generic helpers). That way the

[2021-11-10 16:09] arnodirlam commented on #129
Thanks a lot for confirming the issue and for coming up with a PR, @giddie 🙏

I've done more research, and found out the following:

### Why does dataloader use async processes?

Partly for error handling, partly for performance optimization.

The hierarchy of processes looks as follows:

1. A process calls Dataloader
2. A process is spawned for loading all sources (using `Task.async` + `Task.awai

[2021-11-10 17:45] arnodirlam commented on #129
Also @seddy who worked on the async parts a lot 👌

[2021-11-10 17:53] seddy commented on #129
Don't think you meant me @arnodirlam, though I'm more than happy to take credit for someone else's work obviously :joy_cat:

[2021-11-10 17:58] arnodirlam commented on #129
So this wasn't you? @seddy https://github.com/absinthe-graphql/dataloader/commit/ce9ac3f3e4649dd15a3094ad50ba841511455d31 🤔

[2021-11-11 08:19] giddie commented on #129
Great work @arnodirlam. Looks like you went a few steps further than me by delving into Ecto to find a better solution and writing it all up :) Your recommendations sound good to me.

[2021-12-20 20:22] andrewhr opened #136 "Any change for a newer release with support for Telemetry 1.0?"
I've noticed the `mix.exs` is already up-to-date, but hex.pm doesn't include any version with that change added (latest is `1.0.9` is before that).

Any change for a new release? Any work missing where help is welcome?

Thank you a lot! 🙇

[2021-12-22 13:28] benwilson512 commented on #136
Released!

[2021-12-22 13:28] #136 closed

[2022-02-21 04:08] conradwt opened #137 "Dataloader returning invalid key within its resultset"
When I run the following code:

[code]

I'm seeing an invalid key, **'\a'**, for the last key within the resultset:

[code]

Next, the models have the following form:

[code]

[2022-02-21 06:58] maartenvanvliet commented on #137
If your list of integer appears as a string in single quote it is normal. See a short explanation here: https://github.com/elixir-lang/elixir/wiki/FAQ#4-why-is-my-list-of-integers-printed-as-a-string or a bit longer one, including reasoning behind this choice here: https://hexdocs.pm/elixir/List.html#module-charlists

[2022-02-21 09:53] conradwt commented on #137
@maartenvanvliet Thanks for this nugget of information and I appreciate it.  For now, I have added the following to my **.iex.exs** file:

[code]

Thus, I'm closing this issue.

[2022-02-21 09:53] #137 closed

[2022-03-20 00:19] gosseti commented on #124
@jotaviobiondo I’m currently running into the same issue — did you ever find a solution for this?

I’m using this ecto PR branch which has added support for composite primary keys: https://github.com/elixir-ecto/ecto/pull/3638, however running into the same issues with dataloader as you are.

[2022-04-25 17:00] #78 closed

[2022-08-27 16:10] jotaviobiondo commented on #124
Hey @gosseti! Unfortunately didn't find a solution other than making a PR (but couldn't make due to lack of time)

For my case, I actually noticed that I didn't need a limit/offset, so problem solved hahah

But good to know there's a PR on the ecto side, so the integration with dataloader will be simpler after the feature is merged 😄

[2022-10-31 04:01] benwilson512 commented on #129
Handled now in 1.0.11. To use, make sure that when you call `Dataloader.new/1` you do:

[code]

This will be handled automatically in 2.0

[2022-10-31 04:01] #129 closed

[2022-10-31 04:02] benwilson512 commented on #116
Closing as a lot has changed, please reopen with a test case if this is still an issue.

[2022-10-31 04:02] #116 closed

[2022-10-31 04:02] #103 closed

[2022-10-31 04:06] benwilson512 commented on #133
You can do this:

[code]

[2022-10-31 04:06] #133 closed

[2022-10-31 04:07] #113 closed

[2022-10-31 04:07] #7 closed

[2022-10-31 04:07] #50 closed

[2022-10-31 04:08] benwilson512 commented on #127
The blocker here is whether Dataloader can "see through" associations on a schema to determine that they have equivalent SQL that will be run. Not sure if this is doable.

[2022-10-31 04:10] benwilson512 commented on #108
It's a lot less fragile if instead the options are passed in directly:

[code]

[2022-10-31 04:10] #108 closed

[2022-10-31 04:10] benwilson512 commented on #61
PR welcome for this.

[2022-10-31 04:17] benwilson512 commented on #60
In this case, the recommended course of action is to use the KV source. The Ecto source exists to interface with Ecto schemas.

[2022-10-31 04:17] #60 closed